<div class="nav-side-bar">
<aside>
<div class="top">
                <div class="logo">
                <span class="material-icons">school</span>
                    <h2>S<span class="danger">S</span>S</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">close</span>
                </div>
            </div>
            
            <div class="sidebar">
                <a href="/teacher" class="nav-link">
                    <span class="material-icons">grid_view</span>
                    <h3>หน้าหลัก</h3>
                </a>
                <a href="/profile/teacher/<%= account.IDcard%>/?mode=edit" class="nav-link ">
                    <span class="material-icons">person</span>
                    <h3>โปรไฟล์</h3>
                </a>
                <a href="/notifications" class="nav-link">
                    <span class="material-icons position-relative">
                        notifications
                        <% if (sess.notifications != 0) {%>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger " style="font-size: x-small;"><%= sess.notifications%></span>
                        <% } %>
                    </span>
                    <h3>แจ้งเตือน</h3>
                </a>
                <a href="/students_list" class="nav-link">
                    <span class="material-icons">request_quote</span>
                    <h3>มอบทุน</h3>
                </a>
                <a  class="nav-link" href="/application_users" >
                    <span class="material-icons">assignment</span>
                    <h3>ผู้สมัครขอทุน</h3>
                </a>
                <a href="/logout" class="nav-link">
                    <span class="material-icons">logout</span>
                    <h3>ออกจากระบบ</h3>
                </a>
            </div>
</aside>
</div>