<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class="material-icons">menu</span>
        </button>
        <!-- <div class="theme-toggler">
            <span class="material-icons active">light_mode</span>
            <span class="material-icons">dark_mode</span>
        </div> -->
        <div class="profile">
            <div class="info">
                <p>Hey, <b><%= account.name%></b></p>
                <small class="text-muted"><%= role%></small>
            </div>
            <div class="profile-photo">
                <img src="/assets/img/profile/<%= account.picture%>">
            </div>
        </div>
    </div>