<%- include("partials/_header.ejs")%>
<body>
    <%- include('partials/_navbar.ejs')%>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row ">
            <!-- banner -->
            <div class="col-md-12">
                <div class="base home-page-index pt-5 shadow-2" style="margin: 2rem;height:auto">
                    <!-- TEXT -->
                    <div class="col-md-12 ">
                        <div class="row display-3 d-flex justify-content-around">
                            <div class="col-md-3 ">
                                <span class="fw-bold" style="color: #f9db74;">S<span class="text-white fw-bold">TUDENT </span> </span>
                            </div>
                            <div class="col-md-3">
                                <span class="fw-bold" style="color: #f9db74;">S<span class="text-white fw-bold">CHOLARSHIP </span> </span>
                            </div>
                            <div class="col-md-3">
                                <span class="fw-bold" style="color: #f9db74;">S<span class="text-white fw-bold">YSTEM </span> </span>
                            </div>
                        </div>
                        <br><br>
                        <p class="text-white fs-3 text-center ">ระบบดูแลนักเรียนทุน</p>
                    </div>
                    <!-- PICTURE -->
                    <div class="col-md-12">
                        <div class="row d-flex justify-content-around">
                            <div class="col-md-6">

                                <div class=" col-md-auto base" style="height: auto;padding:2rem">
                                    <h1 class="fw-bold text-center" style="color:#58BAAB">CONTACT</h1>
                                    <br>
                                    <span class="material-icons">mail</span>
                                    <p>SSS Studen Scholarship System @gmail.com</p>
                                </div>

                                <div class=" col-md-auto base" style="height: auto;padding:2rem">

                                    <span class="material-icons">facebook</span>
                                    <p>SSS Studen Scholarship System </p>
                                </div>

                                <div class=" col-md-auto base" style="height: auto;padding:2rem">

                                    <span class="material-icons">message</span>
                                    <p>@SSS Studen Scholarship System </p>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <img src="./assets/imh/index_contact.png" style="width: 100%;" alt="">
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>