<%- include("../partials/_header.ejs")%>
<body>
    <%- include('../partials/_navbar.ejs')%>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row ">
            <!-- banner -->
            <div class="col-md-12">
                <div class="base home-page-index pt-5 shadow-2" style="margin: 2rem;height:auto">
                    <!-- TEXT -->
                    <div class="col-md-12 ">
                        <span class="display-3">
                            <span class="fw-bold" style="color: #f9db74;">S<span class="text-white fw-bold">TUDENT </span> </span>
                            <span class="fw-bold" style="color: #f9db74;">S<span class="text-white fw-bold">CHOLARSHIP </span> </span>
                            <span class="fw-bold" style="color: #f9db74;">S<span class="text-white fw-bold">YSTEM </span> </span>
                        </span>
                        <br><br>
                        <p class="text-white fs-3 text-center ">ระบบดูแลนักเรียนทุน</p>
                    </div>
                    <!-- PICTURE -->
                    <div class="col-md-12">
                        <div class="row d-flex justify-content-around">
                            <div class="col-md-5">
                                <img src="./assets/img/index_about.png" style="width: 100%;" alt="">
                            <br><br>
                            </div>
                            <div class="col-md-6">
                                <div class=" col-md-auto base" style="height: auto;padding:2rem">
                                    <h1 class="fw-bold text-center" style="color:#58BAAB">ABOUT</h1>
                                    <br>
                                    <h3 style="color:#58BAAB">วัถตุประสงค์</h3>
                                    <p>พวกเราได้จัดทำเว็บไซค์นี้เพื่อดูแลนักเรียน นักศึกษาทุน ให้มีระเบียบวินัยการใช้จ่ายเงินทุนอย่างเหมาะสม และให้ครู อาจารย์ สามารถเข้าถึงดซึ่งเว็บไซค์ของพวกเราสามารถเข้าถึงได้ง่าย ใช้ได้บนทุกระบบ อุปกรณ์ ผ่านเว็บบราวเซอร์</p>
                                </div>
                                <div class=" col-md-auto base" style="height: auto;padding:2rem">
                                    
                                    <h3 style="color:#F86B58">จัดทำโดย</h3>
                                    <p>กลุ่มนักเรียน นักศึกษา ระดับปวช. และ ระดับปวส. จากแผนกเทคโนโลยีสารสนเทศ ณ วิทลัยเทคนิคระยอง</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>